.root {
    -fx-background-color: #f0f4f8;
    -fx-font-family: "Segoe UI", sans-serif;
}

.label
{
	-fx-font-size : 8pt;
	-fx-font-weight:bold;
	-fx-font-family:"Segoe UI", sans-serif;
}


.text-field, .password-field {
    -fx-background-color:#ffffff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 8 10;
}

.button {
    -fx-background-color: #2d9cdb;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

.button:hover {
    -fx-background-color: #56ccf2;
}
